.modal {
  .user-details {
  }

  &-btn {
    width: 120px;
  }
}

small {
  color: red;
}

.dialog-window {
  width: 60vh !important;
}
.input-style .input-button {
  width: 30rem !important;
  height: 4rem !important;
}
