.navbar {
  background-color: #f55f54 !important;
  padding: 17px 20px !important;
  .title {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
  span,
  h1 {
    color: white;
  }
  .notification-dot {
    z-index: 1;
  }
}
